.container{
    box-shadow: 1px 1px 5px 2px #4d4d4d;
    margin: 0px 5vw;

}

.fa{
    display: inline;
}

/*********************************MAIN CONTENT********************************/

/******HOME******/
.main-intro{
    /*BACKGROUND*/
    background-image:linear-gradient(to right, rgba(255, 255, 255, 0.849), rgb(248, 248, 248)), url(/img/comp.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;

    /*position and properties*/
    display: flex;
    flex-direction: column;
}

/******WELCOME MESSAGE******/ 

.main-intro .welcome-message    {
    margin-top: 90px;
    text-align: center;
}

.main-intro .company-profile{
    display: grid;
    grid-template-rows: 78vh;
    grid-template-columns: 55% 1fr;

    /*text style*/
}

/*****ABOUT US*****/
.main-intro .company-profile .about-us{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
 
}


/*****LEFT-SIDE HOME*******/
.main-intro .company-profile .about-us-text{
    width: 95%;
    /*TEXT FORMAT*/
    letter-spacing: 1px;
    line-height: 30px;
    font-size: 0.85rem;
    color: rgb(85, 85, 85);
}

.main-intro .company-profile .about-us-text p{
    margin: 0;
}


.main-intro .company-profile .image-about h4{
    margin-top: 20px;
}
.main-intro .company-profile .image-about h4::before{
    content: '';
    display: block;
    background-color: var(--lining);
    width: 38%;
    height: 2px;
    transform:translate(55px,10px);
}

.main-intro .company-profile .image-about h4::after{
    content: '';
    display: block;
    background-color: var(--lining);
    width: 37%;
    height: 2px;
    transform:translate(150%,-10px);
}


.main-intro .company-profile .image-about img {
    position: relative;
    width: 70%;
    border: 0px solid;
    border-radius: 100%;
    box-shadow: 0px 0px 8px 5px #888888
}


/*****RIGHT-SIDE HOME*******/

/*SLIDESHOW START*/
[data-component="slideshow"] .slide {
    display: none;
  }

  [data-component="slideshow"] .slide.active {
    display: block;
  }


.advertisement{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: space-between;
    justify-items: center;
}

.advertisement #slideshow-example{
    text-align: center;
}

.advertisement #slideshow-example img{
    position: relative;
    width: 80%;
    box-shadow: 0px 0px 8px 2px #888888;
}
.advertisement .envi-tech{
    margin: 0px 25px;
    letter-spacing: 1px;
    line-height: 30px;
    font-size: 0.85rem;
    color: rgb(85, 85, 85);

}

/********************************PRODUCTS*************************************/

.product-intro{
    display: grid;
    justify-items: center;
}

.product-text{
    margin-top: 2%;
}

.product-text::before{
    content: '';
    display: block;
    background-color: var(--lining) ;
    width: 20%;
    height: 2px;
    transform: translate(90%,20px);
}

.product-text::after{
    content: '';
    display: block;
    background-color: var(--lining) ;
    width: 20%;
    height: 2px;
    transform: translate(315%,-20px);
}

.desc{
    width: 85%;
    text-align: center;
    margin: 15px 0;
    letter-spacing: 1px;
    line-height: 25px;
    align-items: center;
}

/* PRODUCTS SAMPLE*/

/*
.product-sample{
    padding: 0;
    width: auto;
    height: 500px;
    z-index: 96;

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 235px 235px 235px 235px;
    grid-template-rows: 210px 210px;
    justify-items: center;
    align-items: center;
}

.product-sample li{
    text-align: center;
    width: 230px;
    height: 200px;
    overflow: hidden;
    margin: 10px;
    cursor: pointer;
}

.product-sample li img{
    width: 100%;
    height: 100%;
    transition: transform ease 0.3s;
}

.product-sample li a{
    position: relative;
    justify-items: stretch;
    top: -117.5px;
    color: rgb(8, 8, 8);
    font-size: 1.2rem;
    background-color: ;
    overflow: hidden;
}

.image-holder1{
    width: 230px;
    height: 200px;
    margin: 40px 20px 0px 20px;
    overflow: hidden;
}

.image-holder1 img{
    opacity: 1;
    cursor: pointer;
}

.product-sample li img:hover{
    transform: scale(1.2);
    opacity: 1.0;
}
.product-sample li:hover > a {
    background-image: linear-gradient(red,blue);
}
*/



/************************************TIMELINE***************************************/

.timeline-text {
    text-align: center;
    margin-top: 30px;
}

.timeline-text::before{
    content: '';
    display: block;
    background-color: var(--lining) ;
    width: 30%;
    height: 2px;
    transform: translate(43%,20px);
}

.timeline-text::after{
    content: '';
    display: block;
    background-color: var(--lining) ;
    width: 30%;
    height: 2px;
    transform: translate(190%,-109px);
}

