body,html{
    color: rgb(85, 85, 85);
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    background-color: rgb(192, 192, 192);
    
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    cursor: pointer;
}
i{
    cursor: pointer;    
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}


.container{
    box-shadow: 1px 1px 5px 2px #4d4d4d;
    margin: 0px 5vw;

    background-color: rgb(red, green, rgb(0, 0, 110));
}

.fa{
    display: inline;
}

/*********************************MAIN CONTENT********************************/

/******HOME******/
.main-intro{
    /*BACKGROUND*/
    background-image:linear-gradient(to right, rgba(255, 255, 255, 0.849), rgb(248, 248, 248)), url(/img/comp.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;

    /*position and properties*/
    display: flex;
    flex-direction: column;
}

/******WELCOME MESSAGE******/ 

.main-intro .welcome-message    {
    margin-top: 90px;
    text-align: center;
}

.main-intro .company-profile{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    /*text style*/
}

/*****ABOUT US*****/
.main-intro .company-profile .about-us{
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    align-items: inherit;
 
}


/*****LEFT-SIDE HOME*******/
.main-intro .company-profile .about-us-text{
    width: 95%;
    /*TEXT FORMAT*/
    letter-spacing: 1px;
    line-height: 30px;
    font-size: 0.85rem;
}

.main-intro .company-profile .about-us-text h3{
    margin: 20px;
}

.main-intro .company-profile .about-us-text p{
    margin: 0;
}


.main-intro .company-profile .image-about h4{
    margin-top: 20px;
}
.main-intro .company-profile .image-about h4::before{
    content: '';
    display: block;
    background-color: var(--lining);
    width: 38%;
    height: 2px;
    transform:translate(55px,10px);
}

.main-intro .company-profile .image-about h4::after{
    content: '';
    display: block;
    background-color: var(--lining);
    width: 37%;
    height: 2px;
    transform:translate(150%,-10px);
}


.main-intro .company-profile .image-about img {
    position: relative;
    width: 80%;
    border: 0px solid;
    border-radius: 100%;
    box-shadow: 0px 0px 8px 5px #888888
}


/*****RIGHT-SIDE HOME*******/

/*SLIDESHOW START*/
[data-component="slideshow"] .slide {
    display: none;
  }

  [data-component="slideshow"] .slide.active {
    display: block;
  }


.advertisement{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

.advertisement #slideshow-example{
    margin-top: 20px;
    text-align: center;
}

.advertisement #slideshow-example img{
    position: relative;
    width: 90%;
    box-shadow: 0px 0px 8px 2px #888888;
}
.advertisement .envi-tech{
    margin: 0px 25px;
    letter-spacing: 1px;
    line-height: 30px;
    font-size: 0.85rem;
    color: rgb(85, 85, 85);

}

/********************************PRODUCTS*************************************/

.product-intro{
    background-color: white;
    display: grid;
    justify-items: center;
}

.product-text{
    margin-top: 2%;
}


.desc{
    width: 90%;
    margin: 20px 0;
    text-align: center;
    letter-spacing: 1px;
    line-height: 25px;
    font-family:'Poppins', sans-serif;
    color: black;
}

/* PRODUCTS SAMPLE*/

.product-sample {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 240px 240px 240px 240px;
    grid-template-rows: 280px 270px;
    text-align: center;
}
/*  PRODUCT SAMPLE CONTAINER*/
.product-sample li{
    display: flex;
    flex-direction: column;

    border: 1px solid rgb(73, 73, 73);
    width: 230px;
    height: 210px;
    overflow: hidden;
}
/* PRODUCT SAMPLE IMAGE*/
.product-sample li img{
    opacity: 1;
}

.product-sample li span{
    display: none;
}   

.product-sample li a:hover > span{
    display: inline-block;
    position: absolute;
    padding: 5px;
    transform: translate(-200px, 90px);
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
    background-color: rgba(29, 29, 29, 0.7);
    border-radius: 5px;
}

.product-sample li p{
    position: absolute;
    margin: 0;
    width: 212px;
    height: 50px;
    padding: 10px;
    transform: translate(-1px,0px);

    font-weight: 700;
    font-family:'Poppins', sans-serif;
    color: white;
    background-image: linear-gradient(to right, rgb(0, 55, 117) 0%, rgb(0, 88, 69) 50%,rgb(0, 50, 107)  100%);
    
}

.product-sample li img:hover{
    transform: scale(1.2);
    opacity: 0.3;
    
}
/* SHOW ALL PRODUCT NTH CHILD 8 */
.product-sample li:nth-child(8){
    border:unset;
}

.product-sample li:nth-child(8) img{
    width: 87%;
}

