
/* SMALL DEVICES*/
@media (max-width:480px){
    
    body{
        background-image:linear-gradient(to right, rgba(255, 255, 255, 0.65), rgb(248, 248, 248)), url(/img/comp.jpg);
    }

    /*HIDE EVERYTHING ON MOBILE*/
    .hide-on-mobile{
        display: none;
    /*HIDE HIDE*/
    }
    .main {
        margin: 0;
    }

    /**** NAVIGATION START****/  
    .navmenu{
        margin: 0;
        width: 100vw;
        height: 68px;
        z-index: 99;
    }

    .navmenu .nav-logo h1{
    font-size: 1.7rem;
    letter-spacing: 6px;
    }

    /*NAVIGATION*/
    .navmenu .navigation{
        /*Positioning of NAVMENU*/
        position: absolute;
        margin: 0;
        top: 69px;
        height: 100vh;
        width: 100vw;
        text-align: center;
        transform: translate(0%,0%);

        /*Template of NAVMENU*/
        display: flex;
        flex-direction: column;

        /*NAVMENU Design*/
        background-color: #2c4455;
        border-radius: unset;
   

        /*TRANSITION EFFECT*/
        transition: max-height 0.7s ease-in-out;
    }
    /*Remove Desktop List Margin*/

    .navmenu .navigation li{
        margin: 0;
        padding: 15px 0px ;
        text-align: center;
        width: 100vw;
    }
    /*CHANGE Anchor Tag and Icon Font color*/
    .navmenu .navigation li a,.main .navmenu .navigation li i{
        color: white;
        padding: 0px;
    }

    /*LIST HOVER*/
    .navmenu .navigation li:nth-child(-n + 4):hover{
        background-color: #2c3e50;
        border-radius: 0px;
    }

    .navmenu .navigation li:hover > a{
    color: white;
    }
    /*LIST HOVER END*/

    .navmenu .menu-bar{
       position: absolute;
       right: 40px;
    }
    .navmenu .menu-bar i{
        color: white;
    }

    /* MENU HIDE/SHOW */
    .navmenu .navigation.hide{
        max-height:0px ;
    }

    .navmenu .navigation.hide li{
    display: none;
    }



    /***COMPANY SUB BAR***/

    .comp-side.show{
        /*POSITIONING*/
        margin: 0;
        padding: 0;
        position: relative;
        transform: translate(0, 16px);
        text-align: center;
        
        /*DESIGN*/
        background-color: #000000a4;
        border-radius: 0px;

    
        /*SHOW*/
        width: 100vw;
        height: 153px;
        transition: height 0.5s ease-in-out;
    }
    .comp-side.hide{
        height: 0px;

    }
    .comp-side.hide li{
        display: none;
    }


    /**** NAVIGATION END****/  
/********************************* MAIN INTRO START **************************/
    .main-intro{
        background-image: unset;
    }
    
    .main-intro .company-profile{
        grid-template-columns: 1fr;
    }

    .main-intro .company-profile .about-us{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-items: stretch;
    }
    .main-intro .company-profile .image-about img {
        width: 90vw;
        border-radius: 0px;
    }

    /*HIDE ABOUT US LINE*/
    .main-intro .company-profile .image-about h4::before,.main-intro .company-profile .image-about h4::after{
        display: none;
    }

    /*ABOUT US TEXT*/
    .main-intro .company-profile .about-us-text{
        margin: 0;
    }

    .main-intro .company-profile .about-us-text p{
        margin: 15px 10px;
    }

    /*ADVERTISEMENT START*/
    .advertisement{ 
        margin-top: 6vh;
        text-align: center;
        grid-template-rows: 140px 1fr auto;
    }

    .advertisement #slideshow-example img{
        width: 95%;
    }

    .advertisement .envi-tech-img img{
        width: 70%;
    }
    /*END OF INTRO*/
    /*START OF PRODUCT DISPLAY*/
    /*.product-intro{
        display: none;
    }*/
    .product-text{
        font-size: 0.8rem;
    }
    .product-text::before,.product-text::after{
        display: none;
    }

    .desc{
        text-align: center;
        font-size: 0.85rem;
        margin: 15px;
    }

    .products-sample{
        /*positioning*/
        height: unset;
        margin: 0;
        left: 2vh;
        width: 92vw;

        /*display*/

        grid-auto-flow:row ;
        grid-template-columns: auto;
        grid-template-rows: auto;
        /*design*/
        background-color: unset;
    }
    .products-sample .image-holder{
        width: 230px;
        height: 200px;
        margin: 20px 20px 0px 20px;
        overflow: hidden;
    }

    .products-sample img{
        width: 100%;
        height: 100%;
        transition: transform ease 0.3s;
        opacity: 1;
    }

    .image-holder1{
        width: 230px;
        height: 200px;
        margin: 15px 20px 0px 20px;
        overflow: hidden;
    }
    
    /* END OF PRODUCT DISPLAY*/


    .timeline-text{
        display: none;
    }

    .timeline{
        display: none;
    }

}


/*TABLET DEVICES*/
@media (min-width:479px) and (max-width:768px){}

/*DESKTOP DEVICES*/
@media (min-width:998px){
    .navmenu .menu-bar i{
        display: none;
    }
}

