
/* EXTRA SMALL & SMALL DEVICES*/
@media (max-width:768px){
    
    body{
        background-image:linear-gradient(to right, rgba(255, 255, 255, 0.65), rgb(248, 248, 248)), url(/img/comp.jpg);
    }

    /*HIDE EVERYTHING ON MOBILE*/
    .hide-on-mobile{
        display: none;
    /*HIDE HIDE*/
    }
    .container {
        margin: 0;
        background-color: unset;
    }

    /**** NAVIGATION START****/  
    .navmenu{
        margin: 0;
        width: 100vw;
        height: 68px;
        z-index: 99;
    }

    .navmenu .nav-logo h1{
    font-size: 1.7rem;
    letter-spacing: 6px;
    }

    .navmenu .company-logo{
        display: none;
    }

    /*NAVIGATION*/
    .navmenu .navigation{
        /*Positioning of NAVMENU*/
        position: absolute;
        margin: 0;
        top: 69px;
        height: 100vh;
        width: 100vw;
        text-align: center;
        transform: translate(0%,0%);

        /*Template of NAVMENU*/
        display: flex;
        flex-direction: column;

        /*NAVMENU Design*/
        background-color: #153349;
        border-radius: unset;
        font-weight: unset;
        font-size: 0.9rem;
   

        /*TRANSITION EFFECT*/
        transition: max-height 0.7s ease-in-out;
    }
    /*Remove Desktop List Margin*/

    .navmenu .navigation li{
        margin: 0;
        padding: 15px 0px ;
        text-align: center;
        width: 100vw;
    }
    /*CHANGE Anchor Tag and Icon Font color*/
    .navmenu .navigation li a,.main .navmenu .navigation li i{
        color: white;
        padding: 0px;
    }

    /*LIST HOVER*/
    .navmenu .navigation li:nth-child(-n + 5):hover{
        background-color: #3e5770;
        border-radius: 0px;
    }

    .navmenu .navigation li:hover > a{
    color: white;
    }
    /*LIST HOVER END*/

    .navmenu .menu-bar{
       position: absolute;
       right: 40px;
    }
    .navmenu .menu-bar i{
        color: white;
    }

    /* MENU HIDE/SHOW */
    .navmenu .navigation.hide{
        max-height:0px ;
    }

    .navmenu .navigation.hide li{
    display: none;
    }



    /***COMPANY SUB BAR***/

    .comp-side.show{
        /*POSITIONING*/
        margin: 0;
        padding: 0;
        position: relative;
        transform: translate(0, 16px);
        text-align: center;
        
        /*DESIGN*/
        background-color: #000000a4;
        border-radius: 0px;

    
        /*SHOW*/
        width: 100vw;
        height: 168px;
        transition: height 0.5s ease-in-out;
    }
    .comp-side.hide{
        height: 0px;

    }
    .comp-side.hide li{
        display: none;
    }


    /**** NAVIGATION END****/  
/********************************* MAIN INTRO START **************************/
    .main-intro{
        background-image: unset;
    }
    
    .main-intro .company-profile{
        display: flex;
        flex-direction: column;
    }

    .main-intro .company-profile .about-us{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-intro .company-profile .about-us h3{
    margin: 10px 0px;
    }
    .main-intro .company-profile .image-about img {
        position: relative;
        width: 90vw;
        border-radius: 0px;
    }

    /*HIDE ABOUT US LINE*/
    .main-intro .company-profile .image-about h4::before,.main-intro .company-profile .image-about h4::after{
        display: none;
    }

    /*ABOUT US TEXT*/
    .main-intro .company-profile .about-us-text{
        margin: 0;
    }

    .main-intro .company-profile .about-us-text p{
        margin: 15px 10px;
    }

    /*ADVERTISEMENT START*/
    .advertisement{ 
        margin-top: 1vh;
        text-align: center;
        grid-template-rows: 140px 1fr auto;
    }

    .advertisement #slideshow-example img{
        width: 95%;
    }
    .advertisement .envi-tech{
        width: 95%;
    }
    .advertisement .envi-tech-img img{
        width: 70%;
    }
    /*END OF INTRO*/
    /**************************** PRODUCT ***********************
    /*START OF PRODUCT DISPLAY*/
    /*.product-intro{
        display: none;
    }*/

    .product-intro{
        background-color: white;
        padding: 20px 0;
    }
    .product-text{
        font-size: 0.8rem;
    }
    .product-text::before,.product-text::after{
        display: none;
    }

    .desc{
        text-align: center;
        font-size: 0.85rem;
        margin: 15px;
    }

    .product-sample{
        justify-items: center;
        margin: 0;
        padding: 0;
        grid-template-rows: 190px 190px 190px 190px;
        grid-template-columns: 45vw 45vw;
    }
    

    .product-sample li{

        width: 40vw;
        height: 120px;

    }
    .product-sample li img{
        width: 40vw;
        height: 120px;
    }

    .product-sample li p{
        width: calc(40vw + 2px);
        padding: 10px 0px;
        height: auto;
        font-size: 0.8rem;
        transform: translate(-1px,-6px);
    }

    .product-sample li a:hover > span{
        display: none;
    }

    .product-sample li:nth-child(8) img{
        width: 87%;
    }

     /* END OF PRODUCT DISPLAY*/   
    /************************************START OF TIMELINE*******************/
    .milestone .timeline::before {
        left: 50px;
      }
      .milestone .timeline .timeline-img {
        left: 50px;
      }
      .milestone .timeline .timeline-content {
        max-width: 100%;
        width: auto;
        margin-left: 70px;
      }
      .milestone .timeline .timeline-item:nth-child(even) .timeline-content {
        float: none;
      }
      .milestone .timeline .timeline-item:nth-child(odd) .timeline-content::after {
        content: '';
        position: absolute;
        border-style: solid;
        width: 0;
        height: 0;
        top: 30px;
        left: -15px;
        border-width: 10px 15px 10px 0;
        border-color: transparent #f5f5f5 transparent transparent;
      }

      .milestone blockquote{
          margin: 0;
          padding: 0;
      }
      /****************************CAREER********************************/
      .job{
          
      }
      /*****************************CONTACTS****************************************/
      .m-title{
          padding: 20px 20px;
      }

      .display-contacts{
          flex-direction: column;
      }

      .display-contacts hr{
        display: block;
        width: 85%;
        border: 1px solid rgb(163, 163, 163);
    }

      .contact-content{
        position: unset;
      }

      .contact-content a, .contact-content p{
        color: white;
        margin: 5px;
      }
}


/*MEDIUM DEVICES*/
@media (min-width:576px) and (max-width:768px){
    .product-sample{
        grid-template-columns: 30vw 30vw;
    }

    .product-sample li{

        width: 30vw;
        height: 120px;

    }

    .product-sample li img{
        width: 30vw;
    }

    .product-sample li p{
        width: calc(30vw + 2px);
    }
    /*Contacts*/
    .display-contacts a,th,td{
        font-size: 1rem;
    }
}
/*LARGE DEVICES*/
@media (min-width:769px)and (max-width:1200px){
    .navmenu .menu-bar i{
        display: none;
    }
}

@media (min-width:1200px){
    .navmenu .menu-bar i{
        display: none;
    }
}

